html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  padding: 0;
  line-height: 1.5;
  background: #181a1b;
}

body .noscroll {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.main-font {
  font-family: "Nunito", sans-serif;
}

.text-center {
  text-align: center;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 0.5rem;
}

.h-100 {
  height: 100%;
}

.container {
  max-width: 1200px;
  padding: 1.5rem 1.5rem;
  margin: auto;
  overflow: hidden;
  transition: all 0.3s ease;
}

.text-blue {
  color: #3b82f6;
}

.text-white {
  color: white;
}

.text-grey {
  color: grey;
}

.text-dark-grey {
  color: #2e3031;
}

.bg-blue {
  background-color: #3b82f6;
}

.bg-dark-grey {
  background-color: #2e3031;
}

.bg-white {
  background-color: white;
}

.btn, .btn-blue, .btn-dark, .btn-blue-outline {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  transition: all 0.3s;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn-blue {
  color: white;
  background-color: #3b82f6;
  border: 2px solid #3b82f6;
}

.btn-dark {
  color: white;
  background-color: #181a1b;
}

.btn-blue-outline {
  color: #3b82f6;
  background-color: transparent;
  border: 2px solid #3b82f6;
}

.btn-blue:hover {
  transition: all 0.3s ease;
  background: #0b63f3;
  border: 2px solid #0b63f3;
}

.btn-blue-outline:hover {
  color: white;
  background-color: #3b82f6;
}

.btn-small {
  padding: 0.5rem 1rem;
}

#backToTopBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 0.5rem 0.9rem;
  opacity: 0;
  visibility: visible;
  z-index: 1000;
}

#backToTopBtn.show {
  opacity: 1;
  visibility: visible;
}

.section-subtext {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.btn-email {
  --primary: #3b82f6;
  --primary-dark: #0455d8;
  --primary-darkest: #013281;
  --shadow: rgba(0, 0, 0, 0.3);
  --text: #fff;
  --text-opacity: 1;
  --success: #3b82f6;
  --success-x: -12;
  --success-stroke: 14;
  --success-opacity: 0;
  --border-radius: 3;
  --overflow: hidden;
  --x: 0;
  --y: 0;
  --rotate: 0;
  --plane-x: 0;
  --plane-y: 0;
  --plane-opacity: 1;
  --trails: rgba(59, 130, 246, 0.15);
  --trails-stroke: 57;
  --left-wing-background: var(--primary);
  --left-wing-first-x: 0;
  --left-wing-first-y: 0;
  --left-wing-second-x: 50;
  --left-wing-second-y: 0;
  --left-wing-third-x: 0;
  --left-wing-third-y: 100;
  --left-body-background: var(--primary);
  --left-body-first-x: 51;
  --left-body-first-y: 0;
  --left-body-second-x: 51;
  --left-body-second-y: 100;
  --left-body-third-x: 0;
  --left-body-third-y: 100;
  --right-wing-background: var(--primary);
  --right-wing-first-x: 49;
  --right-wing-first-y: 0;
  --right-wing-second-x: 100;
  --right-wing-second-y: 0;
  --right-wing-third-x: 100;
  --right-wing-third-y: 100;
  --right-body-background: var(--primary);
  --right-body-first-x: 49;
  --right-body-first-y: 0;
  --right-body-second-x: 49;
  --right-body-second-y: 100;
  --right-body-third-x: 100;
  --right-body-third-y: 100;
  display: block;
  cursor: pointer;
  position: relative;
  border: 0;
  padding: 8px 0;
  min-width: 100px;
  text-align: center;
  margin: 0;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  background: none;
  outline: none;
  color: var(--text);
  -webkit-tap-highlight-color: transparent;
}

.btn-email .plane,
.btn-email .trails {
  pointer-events: none;
  position: absolute;
}

.btn-email .plane {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: drop-shadow(0 3px 6px var(--shadow));
  transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px)) rotate(calc(var(--rotate) * 1deg)) translateZ(0);
}

.btn-email .plane .left,
.btn-email .plane .right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: var(--plane-opacity);
  transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px)) translateZ(0);
}

.btn-email .plane .left:before, .btn-email .plane .left:after,
.btn-email .plane .right:before,
.btn-email .plane .right:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: calc(var(--border-radius) * 1px);
  transform: translate(var(--part-x, 0.4%), var(--part-y, 0)) translateZ(0);
  z-index: var(--z-index, 2);
  background: var(--background, var(--left-wing-background));
  clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%), calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%), calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%));
}

.btn-email .plane .left:after {
  --part-x: -1%;
  --z-index: 1;
  --background: var(--left-body-background);
  --first-x: var(--left-body-first-x);
  --first-y: var(--left-body-first-y);
  --second-x: var(--left-body-second-x);
  --second-y: var(--left-body-second-y);
  --third-x: var(--left-body-third-x);
  --third-y: var(--left-body-third-y);
}

.btn-email .plane .right:before {
  --part-x: -1%;
  --z-index: 2;
  --background: var(--right-wing-background);
  --first-x: var(--right-wing-first-x);
  --first-y: var(--right-wing-first-y);
  --second-x: var(--right-wing-second-x);
  --second-y: var(--right-wing-second-y);
  --third-x: var(--right-wing-third-x);
  --third-y: var(--right-wing-third-y);
}

.btn-email .plane .right:after {
  --part-x: 0;
  --z-index: 1;
  --background: var(--right-body-background);
  --first-x: var(--right-body-first-x);
  --first-y: var(--right-body-first-y);
  --second-x: var(--right-body-second-x);
  --second-y: var(--right-body-second-y);
  --third-x: var(--right-body-third-x);
  --third-y: var(--right-body-third-y);
}

.btn-email .trails {
  display: block;
  width: 33px;
  height: 64px;
  top: -4px;
  left: 16px;
  fill: none;
  stroke: var(--trails);
  stroke-linecap: round;
  stroke-width: calc(var(--trails-stroke) * 1);
  stroke-dasharray: 13 16;
  stroke-dashoffset: -1;
}

.btn-email .success {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  color: var(--success);
  font-size: 2em;
  line-height: 5.2rem;
  opacity: var(--success-opacity);
  transform: translateY(calc(var(--success-x) * 1%));
}

.btn-email:hover .plane,
.btn-email:hover .trails,
.btn-email:active .plane,
.btn-email:active .trails {
  transition: all 0.15s ease;
}

.btn-email:hover .plane,
.btn-email:active .plane {
  --x: 0;
  --y: -2;
}

.btn-email:hover .trails,
.btn-email:active .trails {
  stroke-dashoffset: -16;
}

.btn-email.success .plane {
  --x: 0;
  --y: 0;
  --rotate: 45;
  --plane-x: 28;
  --plane-y: -32;
  --plane-opacity: 0;
}

.btn-email.success .success {
  --success-x: 2;
  --success-opacity: 1;
}

.btn-email.success .trails {
  --trails-stroke: 0;
}

.header {
  position: fixed;
  width: 100%;
  padding: 0 0.5rem;
  top: 0;
  left: 0;
  z-index: 2000;
  border-bottom: 1px solid #2e3031;
}

.header h1 {
  font-size: 1.2rem;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo img {
  width: 55px;
  height: 55px;
}

.header .logo h1 {
  margin-left: 0.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.header .menu {
  display: flex;
}

.header .menu ul {
  display: flex;
  align-items: center;
}

.header .menu ul li {
  list-style: none;
  padding: 0 0.5rem;
}

.header .menu ul li a {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.header .menu ul li a:hover {
  color: #3b82f6;
}

.mobile-menu {
  display: none;
}

.navbar .toggle .bars {
  position: relative;
  display: block;
  cursor: pointer;
}

.navbar .toggle .bars span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #3b82f6;
  margin: 5px auto;
  transition: all 0.3s ease;
}

.toggle .bars.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.toggle .bars.change .bar2 {
  opacity: 0;
}

.toggle .bars.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .container {
  padding: 0 2rem;
  text-align: center;
  height: auto;
  margin-top: 1rem;
}

.hero .container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero .container p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.hero .container .btn {
  margin-bottom: 1rem;
}

.hero .container .btn-blue-outline {
  margin-left: 0.8rem;
}

.hero .hero-illustration {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero .hero-illustration img {
  display: block;
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

.hero .cta-btns {
  margin-top: 1rem;
}

.popover-content {
  background-color: #2e3031;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

.popover-content a {
  text-decoration: underline;
  color: white;
}

.popover-content a:hover {
  color: #3b82f6;
}

.popover-content .close {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  .navbar .toggle .bars span {
    background-color: white;
  }

  .hero .container {
    padding: 1rem 2rem;
  }

  .header .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .header .logo img {
    width: 45px;
    height: 45px;
  }

  .header .logo h1 {
    font-size: 1rem;
  }

  .header .menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-menu ul li {
    padding: 0.5rem 0;
  }

  .mobile-menu ul li a {
    font-size: 1rem;
  }

  .hero .container h1 {
    font-size: 1.8rem;
  }

  .hero .container p {
    font-size: 0.9rem;
  }

  .hero .hero-illustration img {
    width: 75%;
  }

  .hero .cta-btns {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .header .logo img {
    width: 35px;
    height: 35px;
  }

  .header .logo h1 {
    font-size: 0.9rem;
  }

  .hero .container h1 {
    font-size: 1.5rem;
  }

  .hero .container p {
    font-size: 0.8rem;
  }

  .hero .hero-illustration img {
    width: 65%;
  }
}
